.AddItem {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
}

.spaceBetween{
    margin-left: 2vh;
}

@media (max-width: 50em) or (orientation: portrait){
    .spaceBetween {
        margin: 2vh 0;
    }

    .AddItem {
        width: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}