.AddItem {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.input {
    max-width: 40vw;

}

.spaceBetween {
    margin-left: 2vh;
}

@media (max-width: 50em) or (orientation: portrait) {
    .spaceBetween {
        margin: 2vh 0;
    }

    .input {
        max-width: unset;
    }

    .AddItem {
        width: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}