.totalItemsContainer {
    display: inline-block;
    background-color: rgb(243, 244, 246);
    padding: 8px 16px;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    border: 1px solid rgb(229, 231, 235);
    margin-bottom: 3vh;
}

.totalItems {
    color: #374151;
    width: auto;
    font-weight: 500;
    font-size: 16px
}

.cardContainer{
    display: grid;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
}